<div
    class="m-10 max-w-full border border-gray-600 ">
    <div class ="max-w-full p-4 bg-gray-400 border border-gray-400 shadow-lg">
        The tech blog
    </div>
    <p class="m-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque earum at sit. Dolorum rem quod autem omnis
        expedita, et dolorem, eaque nostrum illum iusto mollitia magnam! Totam natus error quibusdam.</p>
</div>