<div class="flex flex-col  justify-center p-10" id="dashboard-content">
    {{#if posts.length}}
    <div
        class=" w-full h-full md:h-auto p-6 bg-gray-200 rounded-lg border border-gray-400 shadow-md sm:p-6 lg:p-8" >
        <h2 class="text-center text-3xl font-bold">Your Posts</h2>
        <ol>
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="p-10 flex flex-col items-center">
        <a href="/dashboard/addpost"
            class=" text-black bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 text-4xl rounded-lg px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">+
            New Post</a>
    </div>
    {{/if}}
</div>
